* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  line-height: 5rem;
  text-align: center;
}

#header {
  font-family: Impact, serif;
}

body > .header {
  font-family: cursive !important;

  /* Do not use !important unless absolutely necessary, there is usually a better way. */
}

h1 {
  margin: 0;
}

header {
  margin: 10px;
  border: 5px solid black;
  padding: 15px;
}

main {
  font-size: 3rem;
}
p::first-letter {
  font-size: 5rem;
  font-family: cursive;
}
li:hover {
  background-color: chartreuse;
}
aside {
  /* width: 20rem;
    height: 210px; */
  /* background-image: url(https://cdn.pixabay.com/photo/2021/07/24/07/23/chow-chow-6488846_1280.jpg); */
  background: url(../img/doggo.jpg), rgba(0, 0, 0, 0.65);
  background-blend-mode: overlay;
  background-repeat: no-repeat;

  /* A nice balance is to use cover+center, which will clip all 4 sides equally, instead of only the right and bottom. */
  background-size: cover;
  background-position: center;

  border: 5px solid yellowgreen;
  display: flex;
  color: white;
}
aside > div:first-child {
  width: 35%;
}
aside > div:last-child {
  width: 65%;
}
#box1 {
  background-color: red;
  width: 50%;
  height: 100px;

  /* margin: 10px; */
  border: 5px solid black;
  padding: 15px;
}

#box2 {
  background-color: blue;
  width: 75%;
  height: 100px;

  /* margin: 10px; */
  border: 5px solid black;
  padding: 15px;
}

img {
  width: 100%;
}

/* header {
    background-color: salmon;
}
main {
    background-color: chartreuse;
}
footer {
    background-color: aqua;
}

header, footer {
    border: 5px solid black;
} */
