* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    line-height: 5rem;
    text-align: center;
}
h1 {
    margin: 0;
    font-family: cursive;
}
header {
    margin: 10px;
    border: 5px solid black;
    padding: 15px;
}
main {
    font-size: 3rem;
}
aside {
    width: 20rem;
    height: 210px;
    background-color: chartreuse;
    border: 5px solid yellowgreen;
}
#box1 {
    background-color: red;
    width: 50%;
    height: 100px;
    /* margin: 10px; */
    border: 5px solid black;
    
    padding: 15px;
}

#box2 {
    background-color: blue;
    width: 75%;
    height: 100px;
    /* margin: 10px; */
    border: 5px solid black;
    padding: 15px;
} 

/* header {
    background-color: salmon;
}
main {
    background-color: chartreuse;
}
footer {
    background-color: aqua;
}

header, footer {
    border: 5px solid black;
} */